<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Just+Another Hand&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class=e2_11>
        <div class=e16_4>
          <div class="e2_4"></div>
          <div class="e3_18"></div>
          <div class="e2_5"></div>
          <div class="e2_6"></div>
          <div class="e3_23"></div>
        </div>
        <div class=e16_5>
          <div class="e3_20"></div>
          <div class="e3_22">
            <button type="submit" >
                <div id="submitimage" (click)="router.navigate(['/orderpage'])"></div>
            </button>
          </div>
        </div>
        <div class=e16_3>
          <div class="e2_12"></div>
          <div class="e2_13"></div>
          <div class="e2_14"></div>
        </div>
        <div class=e16_6>
            <span  class="e3_16">handgemachte Häkel- und Strickware</span>
            <span  class="e2_7">Pullover-<br>Team</span>
            <span class="homeleave"></span>
            <span  class="e3_17">by Spross</span>
            <span  class="e3_19">Jetzt bestellen</span>
            
            <span  class="e3_24">Wir garantieren:
                <ul>
                    <li>aller feinste Qualität</li>
                    <li>schnelle Bearbeitung</li>
                    <li>freundlicher Service</li>
                </ul>
            Sichere dir noch heute dein Einzelstück!</span>
            <span  class="e3_26">@sprissi sprössie GmbH</span></div>
      </div>
</body>
</html>