.e206_9 { 
	overflow:hidden;
}
.e206_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:auto;
}
.e206_16 { 
	border-radius:500px;
	background-color:rgba(216.00000232458115, 236.00000113248825, 225.00000178813934, 1);
	width:166px;
	height:169px;
	position:absolute;
	left:230px;
	top:109px;
}
.e206_17 { 
	border-radius:500px;
	background-color:rgba(141.0000067949295, 173.00000488758087, 156.00000590085983, 1);
	width:95px;
	height:91px;
	position:absolute;
	left:172px;
	top:142px;
}
.e206_18 { 
	border-radius:500px;
	background-color:rgba(141.0000067949295, 173.00000488758087, 156.00000590085983, 1);
	width:388px;
	height:389px;
	position:absolute;
	left:-75px;
	top:346px;
}
.e206_19 { 
	border-radius:500px;
	background-color:rgba(216.00000232458115, 236.00000113248825, 225.00000178813934, 1);
	width:212px;
	height:208px;
	position:absolute;
	left:161px;
	top:475px;
}
.e206_20 { 
	border-radius:500px;
	background-color:rgba(106.00000128149986, 132.0000073313713, 118.00000056624413, 1);
	width:108px;
	height:104px;
	position:absolute;
	left:107px;
	top:560px;
}
.e206_15 { 
	border-radius:500px;
	background-color:rgba(106.00000128149986, 132.0000073313713, 118.00000056624413, 1);
	width:280px;
	height:272px;
	position:absolute;
	left:137px;
	top:-82px;
}
.e206_21 { 
	background-color:rgb(147, 179, 162);
	opacity:0.5;
	width:287px;
	height:530px;
	position:absolute;
	left:38px;
	top:60px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
}
.e206_23 { 
	background-color:rgba(106.00000128149986, 132.0000073313713, 118.00000056624413, 1);
	width:99px;
	height:99px;
	position:absolute;
	left:130px;
	top:320px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e206_23 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e206_25 { 
	color:rgba(255, 255, 255, 1);
	width:174px;
	height:29px;
	position:absolute;
	left:93px;
	top:432px;
	font-family:Just Another Hand;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.e206_24 { 
    background-image: url("../../../images/Vector.png");
    background-repeat: no-repeat;
	width:80px;
	height:55px;
	position:absolute;
	left:141px;
	top:346px;
    
}

.e206_22 { 
	color:rgba(255, 255, 255, 1);
	width:284px;
	height:105px;
	position:absolute;
	left:40px;
	top:131px;
	font-family:Just Another Hand;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e206_10 { 
	width:36px;
	height:26px;
	position:absolute;
	left:307px;
	top:15px;
}
.ei206_10_2_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:6px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei206_10_2_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:6px;
	position:absolute;
	left:0px;
	top:10px;
}
.ei206_10_2_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:6px;
	position:absolute;
	left:0px;
	top:20px;
}
