<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Just+Another Hand&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class=e206_9>
    <div class="e206_16"></div>
    <div class="e206_17"></div>
    <div class="e206_18"></div>
    <div class="e206_19"></div>
    <div class="e206_20"></div>
    <div class="e206_15"></div>
    <div class="e206_21"></div>
    <div class="e206_23"></div><span  class="e206_25">Zurück zur Homepage!</span>
    <div class="e206_24" (click)="router.navigate(['/'])"></div><span  class="e206_22">Danke für deine
    Bestellung!</span>
    <div class=e206_10>
      <div class="ei206_10_2_12"></div>
      <div class="ei206_10_2_13"></div>
      <div class="ei206_10_2_14"></div>
    </div>
  </div>
</body>
</html>

